<ion-content>
  <ion-content>
    <div style="padding: 12px 14px 26px 14px">
      <div style="text-align: center; margin-top: 2vh">
        <span class="header">Scan QR Code</span>
      </div>
  
      <div class="shadowdv">
        <div class="scan-box"></div>
        <!-- <img src="assets/images/barcodeicon.png" style="height: 160px;margin-top: 18px;" (click)="goToReceiveLotDetails()"> -->
        <p class="placeorder">Place The QR Code <br />Inside The Scan Area</p>
      </div>
    </div>
  </ion-content>
</ion-content>
